:root {
    --main-screen: #0F0F0F;
    --main-light: #6BFF71;
    --more-button: #464646;
    --button-color: #008605;
    --cids-green: #626853;
    --cids-color-white: #F1E8E0;
    --cids-color-black: #252222;
    --cids-color-green-blue: #8BA8A1;
    --button-mk: #444F2A;
    --accent-light: #9B4A00;
    --grey-color: #808080;
    --icon-color: #0FA958;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    --bs-gutter-x: 0rem!important;
}

p {
    margin: 0!important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.intro-section {
    overflow: hidden;
}

.container {
    width: 80%;
    margin: auto;
}

.intro-images {
    position: relative;
}


.double-xbox {
    position: absolute;
    top: 0;
    left: 0;
}

.green-eliipse {
    position: absolute;
    top: 0;
}

.intro-buttons {
    padding: 2rem 0px;
}

.main-section-btn-more{
    background-color: var(--more-button);
    color: var(--grey-color);
    border-color: var(--main-light);
    border-radius: 50px;
    padding: 15px 60px;
    margin-left: 1rem;
}

.main-section-btn-buy {
    background-color: var(--button-color);
    color: white;
    border-color: var(--main-light);
    border-radius: 50px;
    padding: 15px 60px;
}

.all-center {
    align-items: center;
    height: 100%;
}

header a {
    align-items: center;
    text-decoration: none;
    color: var(--grey-color);
}

header, .intro-section {
    background-color: var(--main-screen);
}

header ul {
    padding: 2rem 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

header li {
    list-style-type: none;
}

.intro-section-h2 {
    color: white;
    font-size: 5rem;
    padding: 6rem 0rem 2rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: var(--grey-color);
}

.footer-logos{
    padding: 2rem 0;
}

.footer-mic-logo {
    width: 24px;
    height: 24px;
}

.footer-mic {
    display: flex;
    justify-content: flex-end;
}

.footer-nav-section ul {
    padding: 1rem 0;
    margin: 0;
}

.footer-nav-section ul li {
    padding: 2px 0;
    list-style-type: none;
    color: var(--grey-color);
    font-size: small;
}


.footer-nav-section ul li a{
    align-items: center;
    text-decoration: none;
    color: var(--grey-color);
}

.footer-mail-section {
    padding: 2rem 0;
}

.footer-mail-section p {
    font-size: small;
}

.footer-input {
    width: 100%;
    background-color: var(--more-button);
    border-radius: 20px;
    padding: 8px 1rem;
    border: 0.5px solid black;
}

.footer-end {
    padding: 1rem 0;
}

.the-last-p {
    font-size: x-small;
}

.footer-end ul {
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: center;
}

.footer-end ul li {
    padding: 2px 3px;
    list-style-type: none;
    color: var(--icon-color);
    font-size: small;
}

.footer-end ul li i {
    padding: 0 2px;
    font-size: medium;
}

.games-section-header {
    background-color: var(--main-screen);
    background-image: url(./images/white-background.png);
    background-size: 100%;
    position: relative;
}

.games-section-header .container .row {
    padding-top: 150px;
}

.game-section-main-content h1 {
    color: #343434;
    justify-content: end;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
}

.games-section-header .xbox-controller {
    position: absolute;
    top: 0;
    left: 0;
}

.game-section-secondary-content p {
    justify-content: end;
    font-weight: bold;
    color: #343434;
}

.games-section-main {
    padding: 5rem 0 9rem;
}

.ptnl-section {
    background-color: var(--main-screen);
    padding: 7rem 0;
}

.ptnl-section h2 {
    color: white;
    font-size: 5rem;
    font-weight: bold;
}

.ptnl-section-span {
    color: var(--button-color);
}

.ptnl-section {
    position: relative;
}

.dual-white-controller {
    position: absolute;
    top: -11rem;
    right: 0;
}

.green-ellipse-2 {
    position: absolute;
    top: -6rem;
    right: 0;
}


.about-controller-section .row {
    justify-content: center;
}

.pramoy-center {
    display: flex;
    justify-content: center;
}

.about-controller-section {
    position: relative;
}

.absolute {
    position: absolute;
    z-index: 0;
}

.about-controller-section h3 img {
    left: 520px;
    top: 380px;
}

.about-controller-section {
    padding: 0 0 3rem;
    background-color: var(--main-screen);
}

.about-controller-section h3 {
    font-weight: bold;
    font-size: 5rem;
    color: var(--button-color);
    padding: 2rem 0;
}